:root {
	--gold: #f29100;
	--white: #fff;
	--green: #66bb8c;
	--blue: #1f589a;
	--gray: #707070;
	--darkGray: #4a4f54;
	--darkGrayLessOpacity: hsla(210, 6%, 31%, 0.8);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

img,
button {
	display: block;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	color: var(--darkGray);
}

/* container */
.container {
	position: relative;
	display: none;
	width: 100%;
	max-width: 2000px;
}

.logo {
	width: 100px;
	height: auto;
	cursor: pointer;
}

.header-logo {
	cursor: pointer;
}

.whatsapp_logo {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	transform: scale(0.85);
	-webkit-transform: scale(0.85);
	cursor: pointer;
}

.whatsapp_logo:active {
	transform: scale(0.83);
	-webkit-transform: scale(0.83);
}

button {
	border: 0;
	border-radius: 25px;
	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.6);
	cursor: pointer;
}

button:active {
	transform: scale(0.98);
	-webkit-transform: scale(0.98);
}

.btn-section {
	width: 275px;
	padding: 0.85rem 1.5rem;
	background-color: var(--blue);
	color: var(--white);
	font-size: 1rem;
}

.btn-section:hover {
	background-color: var(--green);
}

/* nav button */
.hamburger {
	width: 40px;
	transform: scale(0.75);
	-webkit-transform: scale(0.75);
	cursor: pointer;
}

.hamburger:before,
.hamburger:after,
.hamburger div {
	background: var(--white);
	content: "";
	display: block;
	height: 6px;
	border-radius: 3px;
	margin: 7px 0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

header.scrolled .hamburger:before,
header.scrolled .hamburger:after,
header.scrolled .hamburger div {
	background: var(--darkGrayLessOpacity);
}

.cross .hamburger:before {
	transform: translateY(12px) rotate(135deg);
	-webkit-transform: translateY(12px) rotate(135deg);
}
.cross .hamburger:after {
	transform: translateY(-12px) rotate(-135deg);
	-webkit-transform: translateY(-12px) rotate(-135deg);
}
.cross .hamburger div {
	transform: scale(0);
	-webkit-transform: scale(0);
}

@media (min-width: 1400px) {
	.hamburger {
		display: none;
	}
}

@media (min-width: 2000px) {
	body {
		display: flex;
		justify-content: center;
	}
}
