/* preloader */
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	overflow: hidden;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.preloader-circle {
	position: absolute;
	top: 50%;
	left: 0;
	background-color: var(--blue);
	border-radius: 50%;
	width: 20rem;
	height: 20rem;
	opacity: 0;
	transform: scale(1) translate(-50%, -50%);
	-webkit-transform: scale(1) translate(-50%, -50%);
	animation: preloaderCircle 1s ease-out 0.25s forwards;
	-webkit-animation: preloaderCircle 1s ease-out 0.25s forwards;
}

@keyframes preloaderCircle {
	from {
		opacity: 0;
		transform: scale(1) translate(-50%, -50%);
		-webkit-transform: scale(1) translate(-50%, -50%);
	}
	to {
		opacity: 1;
		transform: scale(10) translate(0%, 0%);
		-webkit-transform: scale(10) translate(0%, 0%);
	}
}

.preloader-img {
	width: 100%;
	max-width: 12.5rem;
	height: auto;
	opacity: 0;
	z-index: 1;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.progress-bar {
	width: 100%;
	max-width: 20rem;
	height: 0.5rem;
	border-radius: 12px;
	background-color: white;
	overflow: hidden;
	opacity: 0;
	z-index: 1;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.progress {
	width: 0%;
	height: 100%;
	background-color: var(--green);
	opacity: 0;
	z-index: 1;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	animation: progress 3s ease-out 1.8s forwards;
	-webkit-animation: progress 3s ease-out 1.8s forwards;
}

@keyframes progress {
	0% {
		width: 0%;
	}
	25% {
		width: 50%;
	}
	50% {
		width: 75%;
	}
	75% {
		width: 85%;
	}
	100% {
		width: 100%;
	}
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 8rem;
	max-width: 1880px;
	padding: 0rem 2rem;
	position: fixed;
	z-index: 10;
}

header.scrolled {
	background-color: white;
	box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.16);
}

.nav-list {
	position: absolute;
	top: 8rem;
	left: 0rem;
	right: 0rem;
	overflow: scroll;
	height: calc(100vh - 8rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0rem 2rem;
	border: 7px solid var(--green);
	opacity: 0;
	background-color: white;
	visibility: hidden;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.nav-list.display {
	opacity: 1;
	visibility: visible;
}

.nav-list > li {
	display: flex;
	justify-content: center;
	padding: 1rem;
	width: 100%;
	border-bottom: 3px solid black;
}

.nav-list > li:last-child {
	border-bottom: 0;
}

.company-sub-content ul,
.login-sub-content ul,
.signup-sub-content ul,
.lang-sub-content ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.nav-list > li:first-child > span,
.nav-list > li:first-child > img,
.nav-list > li:last-child > span,
.nav-list > li:last-child > img,
.nav-list > li:nth-child(6) > span,
.nav-list > li:nth-child(5) > span,
.nav-list > li:nth-child(5) > img {
	display: none;
}

.nav-list > li:nth-child(4) .nav-link {
	display: flex;
	gap: 1rem;
}

.nav-list > li:nth-child(4) .track-icon {
	filter: invert(28%) sepia(7%) saturate(606%) hue-rotate(169deg)
		brightness(94%) contrast(82%);
	-webkit-filter: invert(28%) sepia(7%) saturate(606%) hue-rotate(169deg)
		brightness(94%) contrast(82%);
}

/* main */
main {
	position: relative;
	min-height: 100vh;
	isolation: isolate;
}

.hero {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 8rem 2rem 2rem 2rem;
	position: relative;
	width: 100%;
	mix-blend-mode: overlay;
	color: white;
	background-image: url("./images/main_bg_2.png"),
		linear-gradient(
			0deg,
			rgba(31, 88, 154, 1) 0%,
			rgba(31, 88, 154, 0.46) 32%,
			rgba(31, 88, 154, 0.45) 69%,
			rgba(31, 88, 154, 0.13) 100%
		);
	background-size: cover;
	overflow: hidden;
}

.hero-heading-green {
	color: var(--green);
	opacity: 0;
}

.hero-heading-green.active {
	opacity: 1;
}

.hero > .section-row {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.hero > .section-row h1 {
	font-size: 2rem;
}

.hero > .section-row p {
	width: 100%;
	max-width: 400px;
	font-size: 1.5rem;
	opacity: 1;
	margin-bottom: 0rem;
}

.hero > .section-row > .btn-section {
	width: 230px;
}

.slider-container {
	position: relative;
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: -1;
}

.slide {
	width: 100%;
	max-width: 550px;
	height: 100%;
	opacity: 0;
	object-position: top;
	object-fit: cover;
}

.slide.active {
	opacity: 1;
}

.hero-gold-bg,
.hero-green-bg {
	position: absolute;
	height: 5rem;
	top: 50%;
}

.hero-gold-bg {
	left: 0;
	animation: heroGold 1.5s ease-out forwards;
	-webkit-animation: heroGold 1.5s ease-out forwards;
	/* animation-name: heroGold;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	-webkit-animation-name: heroGold;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards; */
}

.hero-green-bg {
	right: 0;
	animation: heroGreen 1.5s ease-out forwards;
	-webkit-animation: heroGreen 1.5s ease-out forwards;
}

@keyframes heroGold {
	from {
		opacity: 1;
		transform: translate(-100%, 0%);
		-webkit-transform: translate(-100%, 0%);
	}
	to {
		opacity: 0;
		transform: translate(200%, 0%);
		-webkit-transform: translate(200%, 0%);
	}
}

@keyframes heroGreen {
	from {
		transform: translate(100%, -100%);
		-webkit-transform: translate(100%, -100%);
		opacity: 1;
	}
	to {
		transform: translate(-200%, -100%);
		-webkit-transform: translate(-200%, -100%);
		opacity: 0;
	}
}

@-webkit-keyframes heroGold {
	from {
		opacity: 1;
		-webkit-transform: translate(-100%, 0%);
	}
	to {
		-webkit-transform: translate(200%, 0%);
		opacity: 0;
	}
}

@-webkit-keyframes heroGreen {
	from {
		-webkit-transform: translate(100%, -100%);
		opacity: 1;
	}
	to {
		-webkit-transform: translate(-200%, -100%);
		opacity: 0;
	}
}
