/* section */
@media (min-width: 500px) {
	/* second section */
	.green-bg {
		transform: translate(75%, 0%);
		-webkit-transform: translate(75%, 0%);
	}
}

@media (min-width: 600px) {
	/* second section */
	.gold-bg {
		transform: translate(-70%, -30%);
		-webkit-transform: translate(-70%, -30%);
	}
}

@media (min-width: 785px) {
	/* first section */
	.first-section {
		padding: 5rem 5rem 8rem 5rem;
	}

	.first-section-container {
		flex-direction: column;
	}

	.first-section-container > .section-row > h1 {
		font-size: 3.375rem;
		max-width: 550px;
	}

	.first-section-container > .section-row > p {
		font-size: 2rem;
	}

	/* second section */
	.second-section {
		padding: 2.5rem 5rem 2.5rem 5rem;
	}
	.second-section-container {
		flex-direction: column;
	}
	.cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	/* second section */
	.second-section-container > h1 {
		max-width: 550px;
		font-size: 3.375rem;
	}

	/* third section */
	.third-section-container,
	.fourth-section-container {
		flex-direction: column;
	}

	/* for last section */
	.last-section-container {
		justify-content: space-between;
	}

	.section-row p {
		font-size: 2rem;
	}

	.signup-rider,
	.signup-business {
		font-size: 3.375rem;
	}
}

@media (min-width: 900px) {
	.fourth-section-container {
		max-width: 500px;
	}

	.last-section-container h1,
	.fourth-section-container h1 {
		font-size: 3.375rem;
	}

	.last-section-container h1,
	.fourth-section-container p {
		font-size: 2rem;
	}
}

@media (min-width: 1075px) {
	/* first section */
	.green-bg {
		transform: translate(70%, -35%);
		-webkit-transform: translate(70%, -35%);
	}

	.first-section-container {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.first-section-container > .section-row {
		flex: 1;
	}

	.first-section-container > .section-row:nth-child(2) {
		display: flex;
		justify-content: center;
	}

	/* second section */
	.second-section {
		padding: 2.5rem 5rem 5rem 5rem;
	}

	/* third section */
	.third-section-img {
		margin-bottom: 0rem;
	}
	.third-section-img {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 5rem;
		height: calc(100% - 5rem);
		width: auto;
		max-width: none;
	}
}

@media (min-width: 1075px) and (max-width: 1169px) {
	.third-section-container h1 {
		max-width: 200px;
		font-size: 2rem;
	}
	.third-section-container p {
		font-size: 1.5rem;
	}
	.third-section-container {
		width: 100%;
		max-width: 500px;
	}
}

@media (min-width: 1170px) and (max-width: 1299px) {
	.third-section-container h1 {
		max-width: 400px;
		font-size: 2rem;
	}
	.third-section-container p {
		font-size: 1.5rem;
	}
	.third-section-container {
		width: 100%;
		max-width: 500px;
	}
}

@media (min-width: 1075px) and (max-width: 1169px) and (max-height: 750px) {
	.third-section-container h1 {
		max-width: 400px;
		font-size: 2rem;
	}
	.third-section-container {
		width: 100%;
		max-width: 600px;
	}
}

@media (min-width: 1170px) and (max-width: 1299px) and (max-height: 750px) {
	.third-section-container h1 {
		max-width: 500px;
	}
	.third-section-container {
		max-width: 700px;
	}
}

@media (min-width: 1300px) {
	.third-section-container {
		width: 100%;
		max-width: 800px;
	}
	.third-section-container h1 {
		width: 100%;
		max-width: 400px;
		font-size: 3.375rem;
	}

	.third-section-container p {
		font-size: 2rem;
	}
}
@media (min-width: 1300px) and (max-height: 750px) {
	.third-section-container {
		width: 100%;
		max-width: 800px;
	}
	.third-section-container h1 {
		width: 100%;
		max-width: 400px;
		font-size: 3rem;
	}

	.third-section-container p {
		font-size: 1.75rem;
	}
}
