/* -------------------------------- */
/* section */
section {
	position: relative;
	padding: 2rem;
}

.section-container {
	display: flex;
	flex-direction: column;
}

.section-container h1 {
	font-size: 2rem;
}

.section-container p {
	font-size: 1.5rem;
}

/* first section */
.first-section {
	padding: 2rem 2rem 8rem 2rem;
	overflow: hidden;
}
.green-bg {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: -1;
	overflow: hidden;
	transform: translate(85%, 0%);
	-webkit-transform: translate(85%, 0%);
}

.first-section-container {
	gap: 3rem;
}

.first-section-container > .section-row:nth-child(1) {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.first-section-container > .section-row:nth-child(2) {
	align-self: center;
}

.first-section-container > .section-row > h1 {
	gap: 3rem;
	font-size: 2rem;
	max-width: 310px;
}

.first-section-container > .section-row > p {
	opacity: 1;
	font-size: 1.5rem;
	margin-bottom: 0rem;
}

.woman-text {
	width: 100%;
	max-width: 555px;
	height: auto;
}

/* for second section */
.gold-bg {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: -1;
	transform: translate(-90%, -30%);
	-webkit-transform: translate(-90%, -30%);
}

.second-section-container {
	flex-direction: column;
}

.second-section-container > h1 {
	max-width: 350px;
	width: 100%;
	margin-bottom: 2.5rem;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.card {
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 370px;
	width: 100%;
	min-height: 533px;
	padding: 4rem 2.5rem;
	box-shadow: 0 0 14px hsla(0, 0%, 50%, 0.27);
}

.card > img {
	width: 145px;
	height: 145px;
}

.card > h4 {
	font-size: 1.5rem;
	font-weight: 400;
}

.card > p {
	font-size: 1.25rem;
	font-weight: 400;
}

/* for third section */
.third-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.third-section-img {
	height: auto;
	width: 100%;
	max-width: 555px;
	align-self: flex-end;
	margin-bottom: 2rem;
}

.third-section-container {
	gap: 2rem;
}

/* for fourth section */
.fourth-section {
	width: 100%;
	height: 100vh;
	background-image: url("./images/biker_with_rider.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.fourth-section-container {
	gap: 2rem;
	width: 100%;
	max-width: 400px;
}

.fourth-section-container p,
.fourth-section-container h1 {
	color: var(--white);
}

/* for last section container */
.last-section-container {
	gap: 4rem;
}

.section-row p {
	opacity: 0.6;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

.signup-rider,
.signup-business {
	font-size: 2rem;
	cursor: pointer;
}

.signup-rider:hover,
.signup-business:hover {
	color: var(--green);
}

.signup-rider:active,
.signup-business:active {
	transform: scale(0.98);
	-webkit-transform: scale(0.98);
}
